.navbar-brand {
    font-weight: 100;
    color: white !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.weather-logo {
    color: yellow;
}

.github-icon {
    color: white;
}