@page "/faq"

<div class="faq">
    <div class="row mt-4">
            <div class="col-md-4 offset-md-4">
                <h4>What is hackbusy</h4>
                <p>An app that looks like it is doing something, but really does nothing.</p>
                <h4>How do I use it?</h4>
                <p>Just open the page, sit back, and enjoy being busy</p>
                <h4>Why???</h4>
                <p>I was bored one night so I made this... #ineedahobby</p>
                <h4>Questions or Suggestions</h4>
                <p>
                    Email questions or suggestions to <a href="mailto:contact@dahln.io">contact@dahln.io</a>
                </p>
                <h4>Code is open source - check it out</h4>
                <p>
                    <a href="https://github.com/dahln/hackbusy" target="_blank">https://github.com/dahln/hackbusy</a>
                </p>
            </div>
    </div>
</div>

@code {

}

