@page "/faq"

<div class="faq">
    <div class="row mt-4">
            <div class="col-md-4 offset-md-4">
                <h4>What is D20 Ninja?</h4>
                <p>An app that lets you roll dice.</p>
                <h4>How do I roll?</h4>
                <p>Click or tap the dice shape.</p>
                <h4>How do I add multiple roles together?</h4>
                <p>Rolling a dice multiple times automatically adds the roles for that dice together.</p>
                <h4>How do I view the roll history?</h4>
                <p>The button next to dice/shape shows the sum of all roles for that dice. It also shows the number of times the dice has been rolled. Click that button to view the history of the dice and see the results added together.</p>
                <h4>How do I reset the roll history?</h4>
                <p>Open the dice history, click the 'Reset' button. It will reset that dice only.</p>
                <h4>I really like D20 Ninja, how can I donate?</h4>
                <p>
                    <a href="https://www.buymeacoffee.com/dahln">
                        <img src="https://img.buymeacoffee.com/button-api/?text=Buy me a donut&emoji=🍩&slug=dahln&button_colour=5F7FFF&font_colour=ffffff&font_family=Bree&outline_colour=000000&coffee_colour=FFDD00">
                    </a>
                </p>
            </div>
    </div>
</div>

@code {

}

