@page "/faq"

<div class="faq">
    <div class="row mt-4">
            <div class="col-md-4 offset-md-4">
                <h4>What is D20 Ninja?</h4>
                <p></p>
                <h4>How do I add multiple roles together?</h4>
                <p></p>
                <h4>How do I view the roll history?</h4>
                <p></p>
                <h4>How do I reset the roll history?</h4>
                <p></p>
                <h4>I really like D20 Ninja, how can I donate?</h4>
                <p></p>
            </div>
    </div>
</div>

@code {

}

