@page "/"

<div class="row">
    <div class="col-sm-6">
        <Dice Name="D20" Shape="bi-hexagon-fill" Size="20" />
    </div>
    <div class="col-sm-6">
        <Dice Name="D12" Shape="bi-pentagon-fill" Size="12" />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <Dice Name="D10" Shape="bi-diamond-fill" Size="10" />
    </div>
    <div class="col-sm-6">
        <Dice Name="D8" Shape="bi-diamond-fill" Size="8" />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <Dice Name="D6" Shape="bi-square-fill" Size="6" />
    </div>
    <div class="col-sm-6">
        <Dice Name="D4" Shape="bi-triangle-fill" Size="4" />
    </div>
</div>

@code {

}

