@page "/"

<div class="row mt-4">
        <div class="col-md-12 table-responsize">
                <table class="mx-auto">
                        <Dice Name="D20" Shape="bi-hexagon-fill" Size="20" Color="#2e8b57" />
                        <Dice Name="D12" Shape="bi-pentagon-fill" Size="12" Color="fuchsia" />
                        <Dice Name="D10" Shape="bi-diamond-fill" Size="10" Color="blue" />
                        <Dice Name="D8" Shape="bi-diamond-fill" Size="8" Color="#ea3c53" />
                        <Dice Name="D6" Shape="bi-square-fill" Size="6" Color="purple" />
                        <Dice Name="D4" Shape="bi-triangle-fill" Size="4" Color="#ff8c00" />
                </table>
        </div>
</div>

@* <div class="row">
    <div class="col dice-column">
        <Dice Name="D20" Shape="bi-hexagon-fill" Size="20" />
    </div>
</div>
<div class="row mt-5 pt-5">
    <div class="col dice-column">
        <Dice Name="D12" Shape="bi-pentagon-fill" Size="12" />
    </div>
</div>
<div class="row mt-5 pt-5">
    <div class="col dice-column">
        <Dice Name="D10" Shape="bi-diamond-fill" Size="10" />
    </div>
</div>
<div class="row mt-5 pt-5">
    <div class="col dice-column">
        <Dice Name="D8" Shape="bi-diamond-fill" Size="8" />
    </div>
</div>
<div class="row mt-5 pt-5">
    <div class="col dice-column">
        <Dice Name="D6" Shape="bi-square-fill" Size="6" />
    </div>
</div>
<div class="row mt-5 pt-5">
    <div class="col dice-column">
        <Dice Name="D4" Shape="bi-triangle-fill" Size="4" />
    </div>
</div> *@

@code {

}

