
.btn-roll {
    width: 70px;
}
.btn-reset {
    width: 50px;
}
.dice-label {
    font-size: 24px;
}
.dice-shape {
    font-size: 70px;
}
.dice-number {
    color: white;
    font-size: 26px;
}
.dice-row {
    height: 90px;
}
.container 
{
    position: relative;
    width: 100px;
    top: -55px;
    left: 13px;
}
  
.container-shape {
    position: absolute;
    top: 0;
    left: 0;
}
.container-number {
    position: absolute;
    top: 32px;
    left: 19px;
}

.dice-shape-label-double {
    margin-left: 1px;

}
.dice-shape-label-single {
    margin-left: 10px;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(720deg);
    }
}

.dice-spin {
    animation-name: spin;
    animation-duration: 400ms;
    animation-timing-function:cubic-bezier(); 
}

