@inject NavigationManager Navigation

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-dice-d20 dice-logo mr-3"></i><span class="logo-name">D20 Ninja</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navToggle">
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link mr-2" target="_blank" href="https://github.com/dahln/dice"><i class="far fa-question-circle mr-2"></i>FAQ</a>
            </li>
        </ul>
    </div>
</nav>

@code{      
    protected override void OnInitialized()
    {
    }
}
