@inject NavigationManager Navigation

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-dice-d20 dice-logo mr-3"></i><span class="logo-name">D20 Ninja</span></a>

    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a class="" href="https://www.buymeacoffee.com/dahln">
                <img class="donut" src="https://img.buymeacoffee.com/button-api/?text=Buy me a donut&emoji=🍩&slug=dahln&button_colour=5F7FFF&font_colour=ffffff&font_family=Bree&outline_colour=000000&coffee_colour=FFDD00">
            </a>
        </li>
    </ul>
</nav>

@code{      
    protected override void OnInitialized()
    {
    }
}
