@inject NavigationManager Navigation

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-frog hackbusy-logo mr-3"></i><span class="logo-name">hackbusy</span></a>

    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a href="/faq"><i class="far fa-question-circle mr-2"></i>FAQ</a>
        </li>
    </ul>
</nav>

@code{      
    protected override void OnInitialized()
    {
    }
}
