.navbar-brand {
    font-weight: 100;
    color: white !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-family: 'Courier New', monospace;
}

.hackbusy-logo {
    color: #2e8b57;
}

.logo-name {
    margin-bottom: 10px;
}

.github-icon {
    color: white;
}

.donut {
    width: 150px;
}