@inject NavigationManager Navigation

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-dice-d20 fa-2x dice-logo mr-3"></i></a>
</nav>

@code{      
    protected override void OnInitialized()
    {
    }
}
