.navbar-brand {
    font-weight: 100;
    color: white !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.dice-logo {
    color: #1F85DE;
}

.github-icon {
    color: white;
}