@inject NavigationManager Navigation
@inject daedalus.Client.Services.AppState _appState
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-cloud-sun daedalus-logo mr-3"></i>daedalus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navToggle">
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link mr-2" href="https://github.com/dahln/pi"><i class="fab fa-github github-icon mr-2"></i>GitHub</a>
            </li>
        </ul>
    </div>
</nav>

@code{      
    protected override void OnInitialized()
    {
        _appState.OnChange += StateHasChanged;
    }
}
